#wrapper {
  /* 자식의 크기만큼 맞춰서 하기 위해서 inline을 쓰고 inline-flex를 사용하면 flex의 특징을 가지고 inline을 할 수 있다. */
  display: inline-flex;
  padding: 4px;
  border: solid 2px black;
}

.box02-wrapper {
  display: flex;
  flex-wrap: wrap;

  row-gap: 4px;
  column-gap: 10px;
  padding: 10px;
  width: 420px;

  align-items: center;
  justify-content: center;

  border: solid 2px black;
}



.box02 {
  width: 200px;
  height: 100px;
  background-color: green;
}