#flex-wrap {
  display: flex;
  /* main axis를 flex axis로 바꿈 */
  /* flex-direction: column; */
  /* 인라인 모드로 바뀜  좌에서 우(main axis)로 바뀜, 세로는 flex axis라고 함.*/
  justify-content: baseline;
  /* 메인 축 */
  align-items: baseline;
  /* flex axis축 */
  height: 800px;
  border: solid 1px black;
}



.item {
  width: 100px;
  height: 100px;
  background-color: orange;
  margin: 4px;
}

.item:nth-child(1){
  order: 2;
}
.item:nth-child(2){
  order: 3;
}
.item:nth-child(3){
  order: 1;
}
.item:nth-child(4){
  order: 4;
}