#wrapper {
  padding: auto;
  border: solid 2px black;
}

.box02-wrapper {
  display: flex;
  flex-wrap: wrap;

  row-gap: 4px;
  column-gap: 10px;
  padding: 10px;
  width: 420px;

  align-items: center;
  justify-content: center;

  border: solid 2px black;
}



.box02 {
  width: 200px;
  height: 100px;
  background-color: green;
}